.ToggleProjects__list {
  margin-bottom: 0;
}

.ToggleProjects__label {
  font-weight: normal;
}

.ToggleProjects__project {
  display: block;
}

.ToggleProjects__checkbox {
  margin-right: 10px;
}

.ToggleProjects__updated {
	font-size: 10px;
	color: #888;
}
