body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.open > .dropdown-menu {
  padding: 15px;
}

.visibility-container {
  padding: 10px;
}

.visibility-container label {
  margin-bottom: 0;
}

.visibility-container label:not(:first-child) {
  margin-left: 25px;
}

.visibility-container .visibility-value {
  margin-right: 5px;
}

.project-list__heading {
  display: flex;
  align-items: center;
}

.project-list__manage {
  margin-left: auto;
}

.column-filter-input {
  width: 100%;
}

.column-filter-input[name="id"] {
  max-width: 7em;
}

.column-filter-input[name="actualHours"],
.column-filter-input[name="budgetHours"] {
  max-width: 8em;
}
