$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$dark__text-color: #C8D1D9;
$dark__primary-color: #090E13;
$dark__hover__background-color: #151A23;
$dark__border-color: #30363C;
$dark__secondary-color: #161B22;
$dark__link-color: #57A6FF;
$button__hover__text-decoration: none;
$element__border-radius: 5px;
$c-dark-gray: #333333;

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin allPseudoClasses {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein-slide {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }

  50% {
    opacity: .5;
    transform: translateY(-.5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  background-color: #f5f8fa !important;
  color: #292b2c !important;
}

.page {
  animation: fadein-slide .5s ease-in;
}

.navbar.navbar-uc {
  margin-bottom: 0;
  border: 0;
  z-index: 0;
}

.navbar-uc {
  .container {
    position: relative;
    border-bottom: 0;
    border-top: 0;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .btn-settings {
    margin: 0;
    padding: 5px 15px;
    font-size: 20px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0 -2px 10px -5px rgba(0, 0, 0, .2);
  }
}

.nav-settings {
  position: absolute;
  right: 20px;
  bottom: -1px;
  display: flex;

  .btn.btn-dark-mode {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 5px;

    @include allPseudoClasses {
      outline: none;
    }
  }
}

.main-content {
  position: relative;
  z-index: 1;
}

.jumbotron.jumbotron-uc {
  background-color: transparent;
  text-align: center;
}

.jumbotron-uc h1 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.open {
  > .dropdown-menu {
    margin-top: 10px;
    padding: 15px;
  }

  > .toggl-description {
    padding: 20px;
    min-width: 400px;
  }
}

.panel-body.projects__wrapper {
  min-height: 200px;
  position: relative;
}

.projects {
  display: block;
  position: relative;
  background: white;
  margin: 1px;
  z-index: 2;
  border-bottom: solid 1px #ccc;

  @include hover {
    border-bottom: 0;
  }
}

.visibility-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;

  label {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  .visibility-value {
    margin-right: 5px;
  }
}

.panel-uc__heading {
  display: flex;
  align-items: center;
  box-shadow: inset 0 1px #fcfcfc, 0 1px 5px -2px #ddd;
}

.panel-uc__manage {
  margin-left: auto;
}

.project-search {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 1px #eee;
}

.ToggleProjects__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 130px;
  padding-left: 5px;
  padding-top: 5px;
  cursor: pointer;
  min-height: 35px;

  small {
    margin-left: 10px;
  }

  .btn-link {
    position: absolute;
    right: 20px;

    @include hover {
      text-decoration: $button__hover__text-decoration;
    }
  }
}

.ToggleProjects__project {
  border-bottom: 1px solid #ccc;
  background-color: white;

  @include hover {
    background-color: #f5f5f5;
  }
}

.ToggleProjects__updated {
  margin-left: 10px;
}

.ToggleProjects__checkbox[type="checkbox"] {
  margin: 0;
  margin-right: 15px;
}

.form-group.project-search {
  z-index: 2;
}

.btn.dropdown-toggle {
  height: 42px;
  font-size: 14px;
  margin: 0 5px;
  border-radius: $element__border-radius;
}

.dropdown-menu {
  top: calc(100% + 20px);

  &.toggl-description {
    left: -275px;
  }

  hr {
    border-color: transparent;
    margin-bottom: 30px;
  }
}

#table-search-tickets table {
  table-layout: fixed;
}

.column-filter-input {
  width: 100%;

  &[name="id"],
  &[name="actualHours"],
  &[name="budgetHours"] {
    max-width: 8em;
  }
}

.column-filter-dropdown {
  width: 100%;
  min-width: 8em;
  max-width: 14em;

  .Select--multi .Select-value {
    display: flex;
  }
}

.loading {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  position: fixed;
  top: calc(50% - 5em);
  left: 0;
  right: 0;
  border: 1.1em solid rgba(176, 197, 207, 0.2);
  border-left-color: #b0c5cf;
  transform: translateZ(0);
  animation: spin 0.6s infinite ease-in;

  &::after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

.col--budget {
  text-align: right;
}

#table-dispatch-tickets table button {
  white-space: nowrap;
  height: 35px;
  padding: 0 15px;
  border-radius: $element__border-radius;
  border: 1px solid #ccc;
  background-color: transparent;
}

td.col--budget:not(:empty)::after {
  content: ' hrs';
}

.ticket--overbudget .col--budget {
  background-color: #f2dede;
}

.ticket--nearbudget .col--budget {
  background-color: #fcf8e3;
}

.ticket-copy {
  background: transparent;
  border: none;

  .glyphicon-copy {
    visibility: hidden;
  }

  &:focus {
    .glyphicon-copy {
      visibility: visible;
    }
  }
}

.ticket-link:hover {
  .glyphicon-copy {
    visibility: visible;
  }
}

.glyphicon-ok {
  color: #5cb85c;
}

.glyphicon-new-window {
  color: $c-dark-gray;
}

.table-bordered {
  > tfoot.table-bordered__foot td {
    font-weight: bold;
    border-top-width: 2px;
  }

  th,
  td {
    hyphens: auto;
  }
}

.modal-overlay {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-bar {
  max-width: 350px;
}

.item-field {
  min-width: 11em;
  max-width: 11em;
}

.ticket-notes {
  padding: 5px 10px;
  border: solid 1px #ddd;
  background-color: #f3f3f3;
  white-space: pre-wrap;
}

.modal-navbar-settings {
  display: flex;
  padding: 10px;
  border: solid 1px #f5f5f5;
}

.btn-modal-nav {
  margin-right: 5px;
  border: solid 1px #f3f3f3;
  color: #337ab7;
}

.btn-dark-mode {
  width: 50px;
  height: 41px;

  svg {
    width: 18px;
    height: 21px;
    background-color: transparent;
    fill: $c-dark-gray;
  }
}

.page.dark {
  background-color: #07090F;
  min-height: 100vh;

  * {
    transition: background-color .4s;
  }

  a,
  p,
  span,
  strong,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $dark__text-color;
  }

  button,
  select,
  input {
    background-color: $dark__primary-color;
    color: $dark__text-color;
    border: 1px solid $dark__border-color;
    border-radius: $element__border-radius;
  }

  select,
  input {
    padding-left: 10px;
  }

  button {
    @include allPseudoClasses {
      background-color: $dark__hover__background-color;
      color: $dark__text-color;
      border-color: $dark__border-color;
      text-decoration: none;
    }
  }

  .column-filter-input,
  .dispatch-fields .form-group:not(:first-of-type) input,
  .dispatch-fields .form-group:not(:first-of-type) select {
    height: 38px;
  }

  .dispatch-fields .form-group:first-of-type div *,
  .column-filter .column-filter-dropdown div * {
    background-color: $dark__primary-color;
  }

  .navbar-brand {
    @include hover {
      color: $dark__link-color;
    }
  }

  .json-string {
    color: #FD971F;
  }

  .json-key {
    color: #F92672;
  }

  .json-boolean {
    color: #AC81FE;
  }

  .json-pretty {
    background-color: #0E1117;
  }

  .ticket-link a {
    color: $dark__link-color;
  }

  .btn-settings {
    background-color: $c-dark-gray;
    border: none;
    margin-right: 5px;

    span {
      color: $dark__text-color;
    }
  }

  .alert-warning {
    color: #0E1117;
    background-color: #f6c44d;
    border: $dark__border-color;
  }

  .panel-default > .panel-heading {
    border: none;
    box-shadow: none;

    h4 small {
      margin-left: 10px;
    }
  }

  .row.panel-body {
    border-radius: $element__border-radius;
  }

  .navbar {
    background-color: $dark__secondary-color;
    border-color: $dark__border-color;
    box-shadow: none;
  }

  .panel-body {
    background-color: $dark__secondary-color;
    border-color: $dark__border-color;
    box-shadow: none;
    border: none;
  }

  .panel-uc__heading.panel-heading {
    background-color: #0E1117;
  }

  .panel-uc.panel.panel-default {
    border: none;
  }

  .projects.list-group {
    background-color: transparent;
    border-color: $dark__border-color;
    border-radius: $element__border-radius;

    @include hover {
      border-color: transparent;
    }

    button {
      border-color: $dark__border-color;
      border-radius: 0;
      color: #777;

      @include allPseudoClasses {
        background-color: $dark__hover__background-color;
        transition: .3s;
      }
    }
  }

  .open > .btn.dropdown-toggle,
  .btn.dropdown-toggle:active,
  .btn.dropdown-toggle:hover,
  .btn.dropdown-toggle:focus {
    background-color: $dark__hover__background-color !important;
    color: $dark__text-color !important;
    text-decoration: $button__hover__text-decoration;
    border-color: $dark__border-color;
    transition: .3s;
  }

  .open > .toggl-description {
    background-color: $dark__primary-color;
    border: 1px solid $dark__border-color;

    .form-control {
      background-color: $dark__secondary-color;
      color: $dark__text-color;
    }

    button {
      margin-right: 5px;
    }
  }

  .dropdown-menu {
    top: 100%;

    hr {
      border-color: transparent;
      margin-bottom: 30px;
    }
  }

  .column-filter,
  .table-bordered {
    border-color: $dark__border-color !important;
  }

  .table-bordered {
    th,
    tr,
    td {
      border-color: $dark__border-color !important;
    }
  }

  #table-dispatch-tickets table button {
    border-color: $dark__border-color;
  }

  .table-striped {
    color: $dark__text-color;

    > tbody > tr {
      &:nth-of-type(even) {
        background-color: #0E1117;
      }

      &:nth-of-type(odd) {
        background-color: $dark__hover__background-color;
      }
    }
  }

  .dispatch-fields {
    .form-group {
      * {
        color: $dark__text-color;
      }

      div {
        background-color: $dark__hover__background-color;
        border-color: $dark__border-color;
        z-index: 2;
      }

      label {
        display: flex;
        align-items: center;
      }

      [class$="menu"] {
        margin-top: 1px;
        border: 1px solid $dark__border-color;
      }

      [class$="singleValue"] {
        margin-left: 5px;
      }

      [id^=react-select] {
        background-color: $dark__primary-color;

        @include hover {
          background-color: $dark__hover__background-color;
          cursor: pointer;
        }
      }
    }
  }

  .ticket-copy span {
    color: $dark__text-color;
  }

  .pagination {
    .active a {
      color: $dark__text-color;
    }

    > li {
      > a,
      > span {
        background-color: $dark__hover__background-color;
        border-color: $dark__border-color;
        z-index: 2;

        @include hover {
          background-color: #0E1117;
          border-color: $dark__border-color;
        }
      }
    }
  }

  label[for="toggl-api"] {
    color: $dark__text-color;
  }

  .column-filter-dropdown div {
    font-size: 14px;
    background-color: $dark__hover__background-color;
    color: $dark__text-color;
    border-color: $dark__border-color;

    @include hover {
      border-color: $dark__border-color;
      cursor: pointer;
    }
  }

  .dropdown-menu.dropdown-menu-right {
    border-color: $dark__border-color !important;
    background-color: #0E1117;
  }

  .form-group.project-search {
    background-color: $dark__hover__background-color;
    border-color: $dark__border-color;
  }

  .ToggleProjects__project {
    border-bottom: 1px solid $dark__border-color !important;
    background-color: #0E1117;

    @include hover {
      background-color: $dark__hover__background-color;
    }
  }

  .ToggleProjects__label {
    a {
      @include hover {
        color: $dark__link-color;
      }
    }

    .btn-link {
      @include hover {
        color: $dark__link-color;
        border: 1px solid $dark__border-color;
      }
    }
  }

  button.ticket-copy {
    border: none;
    background-color: transparent;
    margin-left: 5px;
  }

  .ticket-link a {
    @include hover {
      color: $dark__link-color;
    }
  }

  .ticket--overbudget .col--budget {
    background-color: #551e32;
  }

  .ticket--nearbudget .col--budget {
    color: #0E1117;
    background-color: #f6c44d;
  }

  .visibility-label {
    display: flex;
    align-items: center;
  }

  .queue-list {
    * {
      color: $dark__text-color;
    }

    li {
      color: $dark__text-color !important; // override inline

      div {
        margin-bottom: 10px;
      }
    }

    .btn-link {
      margin-left: 5px;
      margin-top: -3px;
      border-radius: 4px;
      height: 33px;
    }

    input {
      height: 33px;
    }
  }

  .nav > li > a {
    margin-right: 5px;

    @include hover {
      background-color: $dark__border-color;
      border-radius: $element__border-radius;
      color: $dark__link-color;
    }
  }

  .glyphicon-info-sign {
    @include allPseudoClasses {
      background-color: $dark__hover__background-color;
      color: $dark__text-color;
      border-color: $dark__border-color;
    }
  }
}

button.dark.btn.btn-dark-mode {
  background-color: $c-dark-gray;
  margin-left: 0;

  @include allPseudoClasses {
    background-color: $c-dark-gray;
  }

  svg {
    fill: $dark__text-color;
  }
}

.dark-modal {
  .ReactModal__Content {
    background-color: $dark__secondary-color !important;
    border-color: $dark__border-color !important;

    * {
      color: $dark__text-color;
    }

    .form-control {
      background-color: $dark__primary-color;
      border-color: $dark__border-color;
      color: $dark__text-color;
    }
  }

  .modal-navbar-settings {
    border: none;
  }

  .btn-modal-nav {
    background-color: transparent;
    color: $dark__link-color !important;
    border: none;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #0E1117;
  }

  .ticket-notes {
    background-color: transparent;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  &:root .container {
    width: 100%;
    max-width: 1300px;
  }

  .table-bordered {
    th,
    td {
      overflow-wrap: break-word;
    }
  }
}

@media screen and (min-width: 992px) {
  .projects {
    max-height: 70px;
    overflow: hidden;
    position: absolute;
    min-width: 400px;

    @include hover {
      max-height: 500px;
      transition: max-height 0.2s $ease-out-circ;
      overflow: auto;
      box-shadow: none;
      border: solid 1px #bbbbbb;
      margin: 0;

      &::after {
        content: none;
      }
    }

    &::after {
      content: '';
      display: block;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 80%);
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      height: 30px;
    }
  }
}

// Create Ticket Form and Modal
.btn.btn-expand {
  position: absolute;
  top: 100px;
  right: 30px;
}

.dark .btn.btn-expand {
  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.ticket-modal {
  max-width: 700px;
  width: 100%;
  left: 50%;
  height: 750px;
  transform: translate(-50%, -30px);

  input,
  select {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input {
    width: 100%;

    &[type="number"] {
      max-width: 80px;
    }
  }

  label,
  .btn-submit {
    margin-top: 15px;
  }

  .btn-submit {
    margin-bottom: 20px;
  }

  .btn-create-ticket {
    margin-top: 20px;
  }

  .ReactModal__Content {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
}

.ticket-modal {
  .close-btn {
    background-color: transparent;
    position: absolute;
    margin-bottom: 40px;
    right: 10px;
    top: 0;
    font-size: 20px;

    @include allPseudoClasses {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .new-ticket-message p {
    display: flex;
    font-size: 16px;
    margin-top: 15px;
    font-weight: bold;

    .ticket-link {
      margin-left: 10px;
      text-decoration: underline;
      transform: translateY(-1px);

      a {
        color: $dark__link-color;
      }
    }
  }

  .autocomplete-field {
    div,
    input {
      width: 100%;
    }

    div {
      input {
        padding-left: 15px;
        padding-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    input[aria-expanded="true"] + div {
      left: 50% !important; // override react-autocomplete
      transform: translate(-50%, 20px) !important; // override react-autocomplete
      max-width: 500px;
      background-color: white !important; // override react-autocomplete
      z-index: 2;

      div {
        min-height: 35px;
        line-height: 30px;
        padding: 0 20px;
        cursor: pointer;
        font-size: 14px !important; // override react-autocomplete
        border-bottom: 1px solid #ccc;

        @include hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}

.dark-modal.ticket-modal {
  input,
  textarea,
  .btn-create-ticket {
    border-radius: 5px;
  }

  .btn-create-ticket {
    background-color: $dark__primary-color;
    border-color: $dark__border-color;
    color: $dark__text-color;
    height: 38px;

    @include allPseudoClasses {
      background-color: $dark__hover__background-color;
      color: $dark__text-color;
    }
  }

  .new-ticket {
    color: $dark__link-color;
  }

  .autocomplete-field {
    input[aria-expanded="true"] + div {
      background-color: $dark__primary-color !important; // override react-autocomplete
      color: $dark__text-color !important; // override react-autocomplete
      border-color: $dark__border-color !important; // override react-autocomplete

      div {
        color: $dark__text-color !important; // override react-autocomplete
        border-color: $dark__border-color !important; // override react-autocomplete

        @include hover {
          background-color: $dark__hover__background-color !important; // override react-autocomplete
        }
      }
    }
  }
}

.edit-ticket-form {
  input {
    width: 100px;
  }

  button {
    margin-left: 5px;
  }

  .edit-ticket-input {
    display: flex;
  }

  &-actions label {
    margin-bottom: 10px;
  }

  p.edit-ticket-warning {
    background-color: #f6c44d;
    color: #0E1117;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
}

.dark .column-actions button svg {
  fill: $dark__text-color;
}

.column-actions {
  display: flex;

  div > button,
  .btn-group > button {
    width: 31px;
    height: 30px;
    padding: 0;
  }

  div:nth-of-type(2) {
    transform: translateY(-1px);
  }

  svg {
    width: 16px;
    height: 16px;
    transform: translate(1px, 1px);
  }
}

.dispatch-ticket-update {
  position: absolute;
  right: 15px;
}
