$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadein-slide {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  50% {
    opacity: .5;
    transform: translateY(-.5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  background-color: #f5f8fa !important;
  color: #292b2c !important;
}

.page {
  animation: fadein-slide .5s ease-in;
}

@media screen and (min-width: 1200px) {
  :root .container {
    width: 100%;
    max-width: 1300px;
  }
}

.navbar.navbar-uc {
  margin-bottom: 0;
  border: 0;
  z-index: 0;
}

.navbar-uc .container {
  position: relative;
  border-bottom: 0;
  border-top: 0;
}

.navbar-uc .navbar-brand {
  font-size: 25px;
}

.nav-settings {
  position: absolute;
  right: 20px;
  bottom: -1px;
  display: flex;
}

.navbar-uc .btn-settings {
  margin: 0;
  padding: 5px 15px;
  font-size: 20px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 -2px 10px -5px rgba(0,0,0,.2);
}

.main-content {
  position: relative;
  z-index: 1;
}

.jumbotron.jumbotron-uc {
  background-color: transparent;
  text-align: center;
}

.jumbotron-uc h1 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.open > .dropdown-menu {
  margin-top: 10px;
  padding: 15px;
}

.open > .toggl-description {
  padding: 20px;
  min-width: 400px;
}

.panel-body.projects__wrapper {
  /* to accomodate the absolutely-positioned list */
  min-height: 200px;
}

.projects {
  display: block;
  position: relative;
  background: white;
  margin: 1px;
  z-index: 2;
  border-bottom: solid 1px #ccc;
}

.projects:hover {
  border-bottom: 0;
}

@media screen and (min-width: 992px) {
  .projects {
    max-height: 70px;
    overflow: hidden;
    position: absolute;
    min-width: 400px;
  }

  .projects:hover {
    max-height: 500px;
    transition: max-height 0.2s $ease-out-circ;
    overflow: auto;
    box-shadow: none;
    border: solid 1px #bbbbbb;
    margin: 0;
  }

  .projects::after {
    content: '';
    display: block;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 30px;
  }

  .projects:hover::after {
    content: none;
  }
}

.visibility-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

.visibility-container label {
  margin-bottom: 0;
}

.visibility-container label:not(:first-child) {
  margin-left: 25px;
}

.visibility-container .visibility-value {
  margin-right: 5px;
}

.panel-uc__heading {
  display: flex;
  align-items: center;
  box-shadow: inset 0 1px #fcfcfc, 0 1px 5px -2px #ddd;
}

.panel-uc__manage {
  margin-left: auto;
}

.project-search {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 1px #eee;
}

#table-search-tickets table {
  table-layout: fixed;
}

.column-filter-input {
  width: 100%;
}

.column-filter-input[name="id"] {
  max-width: 8em;
}

.column-filter-input[name="actualHours"],
.column-filter-input[name="budgetHours"] {
  max-width: 8em;
}

.column-filter-dropdown {
  width: 100%;
  min-width: 8em;
  max-width: 14em;
}

.column-filter-dropdown .Select--multi .Select-value {
  display: flex;
}

/* Loading spinner */
.loading,
.loading::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loading {
  margin: 0 auto;
  position: fixed;
  top: calc(50% - 5em);
  left: 0;
  right: 0;
  border: 1.1em solid rgba(176,197,207, 0.2);
  border-left-color: #b0c5cf;
  transform: translateZ(0);
  animation: spin 0.6s infinite ease-in;
}

.col--budget {
  text-align: right;
}

td.col--budget:not(:empty)::after {
  content: ' hrs';
}

.ticket--overbudget .col--budget {
  background-color: #f2dede;
}

.ticket--nearbudget .col--budget {
  background-color: #fcf8e3;
}

.ticket-copy {
  background: transparent;
  border: none;
}

.ticket-copy .glyphicon-copy {
  visibility: hidden;
}

.ticket-link:hover .glyphicon-copy, 
.ticket-copy:focus .glyphicon-copy {
  visibility: visible
}

.glyphicon-ok {
  color: #5cb85c;
}

.glyphicon-new-window {
    color: #333;
}

/* Table Styling Adjustments */
.table-bordered > tfoot.table-bordered__foot td {
  font-weight: bold;
  border-top-width: 2px;
}

.modal-overlay {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-bar {
  max-width: 350px;
}

.item-field {
  min-width: 11em;
  max-width: 11em; 
}

.ticket-notes {
  padding: 5px 10px;
  border: solid 1px #ddd;
  background-color: #f3f3f3;
  white-space: pre-wrap;
}

.modal-navbar-settings {
  display: flex;
  padding: 10px;
  border: solid 1px #f5f5f5;
}

.btn-modal-nav {
  margin-right: 5px;
  border: solid 1px #f3f3f3;
  color: #337ab7;
}

.table-bordered th,
.table-bordered td {
  hyphens: auto;
}

@media screen and (min-width: 1200px) {
  .table-bordered th,
  .table-bordered td {
    overflow-wrap: break-word;
  }
}

.create-ticket-form {
  max-width: 400px;
  margin: 0 0 40px 15px;
}

.create-ticket-form button {
  margin-bottom: 20px;
  font-size: 16px;
}

.create-ticket-form input,
.create-ticket-form select {
  height: 40px;
}

.create-ticket-form label {
  margin-top: 10px;
}

.create-ticket-form input[type="number"] {
  max-width: 80px;
}

.autocomplete-field div {
  width: 100%;
  max-width: 400px;
}

.autocomplete-field div input {
  width: 100%;
}

.autocomplete-field input[aria-expanded="true"] + div {
  background: white !important;
  font-size: 14px !important;
  border: 1px solid #ccc;
}

.autocomplete-field input[aria-expanded="true"] + div div {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  cursor: pointer;
}

.autocomplete-field input[aria-expanded="true"] + div div:hover,
.autocomplete-field input[aria-expanded="true"] + div div:focus {
  background-color: #f5f5f5 !important;
}

