$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadein-slide {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  50% {
    opacity: .5;
    transform: translateY(-.5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  background-color: #f5f8fa !important;
  color: #292b2c !important;
}

.page {
  animation: fadein-slide .5s ease-in;
}

@media screen and (min-width: 1200px) {
  :root .container {
    width: 100%;
    max-width: 1300px;
  }
}

.navbar.navbar-uc {
  margin-bottom: 0;
  border: 0;
  z-index: 0;
}

.navbar-uc .container {
  position: relative;
  border-bottom: 0;
  border-top: 0;
}

.navbar-uc .navbar-brand {
  font-size: 25px;
}

.nav-settings {
  position: absolute;
  right: 20px;
  bottom: -1px;
  display: flex;
}

.navbar-uc .btn-settings {
  margin: 0;
  padding: 5px 15px;
  font-size: 20px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 -2px 10px -5px rgba(0,0,0,.2);
}

.main-content {
  position: relative;
  z-index: 1;
}

.jumbotron.jumbotron-uc {
  background-color: transparent;
  text-align: center;
}

.jumbotron-uc h1 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.open > .dropdown-menu {
  margin-top: 10px;
  padding: 15px;
}

.open > .toggl-description {
  padding: 20px;
  min-width: 400px;
}

.panel-body.projects__wrapper {
  /* to accomodate the absolutely-positioned list */
  min-height: 200px;
}

.projects {
  display: block;
  position: relative;
  background: white;
  margin: 1px;
  z-index: 2;
  border-bottom: solid 1px #ccc;
}

.projects:hover {
  border-bottom: 0;
}

@media screen and (min-width: 992px) {
  .projects {
    max-height: 70px;
    overflow: hidden;
    position: absolute;
    min-width: 400px;
  }

  .projects:hover {
    max-height: 500px;
    transition: max-height 0.2s $ease-out-circ;
    overflow: auto;
    box-shadow: none;
    border: solid 1px #bbbbbb;
    margin: 0;
  }

  .projects::after {
    content: '';
    display: block;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 30px;
  }

  .projects:hover::after {
    content: none;
  }
}

.visibility-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

.visibility-container label {
  margin-bottom: 0;
}

.visibility-container label:not(:first-child) {
  margin-left: 25px;
}

.visibility-container .visibility-value {
  margin-right: 5px;
}

.panel-uc__heading {
  display: flex;
  align-items: center;
  box-shadow: inset 0 1px #fcfcfc, 0 1px 5px -2px #ddd;
}

.panel-uc__manage {
  margin-left: auto;
}

.project-search {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 1px #eee;
}

#table-search-tickets table {
  table-layout: fixed;
}

.column-filter-input {
  width: 100%;
}

.column-filter-input[name="id"] {
  max-width: 8em;
}

.column-filter-input[name="actualHours"],
.column-filter-input[name="budgetHours"] {
  max-width: 8em;
}

.column-filter-dropdown {
  width: 100%;
  min-width: 8em;
  max-width: 14em;
}

.column-filter-dropdown .Select--multi .Select-value {
  display: flex;
}

/* Loading spinner */
.loading,
.loading::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loading {
  margin: 0 auto;
  position: fixed;
  top: calc(50% - 5em);
  left: 0;
  right: 0;
  border: 1.1em solid rgba(176,197,207, 0.2);
  border-left-color: #b0c5cf;
  transform: translateZ(0);
  animation: spin 0.6s infinite ease-in;
}

.col--budget {
  text-align: right;
}

td.col--budget:not(:empty)::after {
  content: ' hrs';
}

.ticket--overbudget .col--budget {
  background-color: #f2dede;
}

.ticket--nearbudget .col--budget {
  background-color: #fcf8e3;
}

.ticket-copy {
  background: transparent;
  border: none;
}

.ticket-copy .glyphicon-copy {
  visibility: hidden;
}

.ticket-link:hover .glyphicon-copy, 
.ticket-copy:focus .glyphicon-copy {
  visibility: visible
}

.glyphicon-ok {
  color: #5cb85c;
}

.glyphicon-new-window {
    color: #333;
}

/* Table Styling Adjustments */
.table-bordered > tfoot.table-bordered__foot td {
  font-weight: bold;
  border-top-width: 2px;
}

.modal-overlay {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-bar {
  max-width: 350px;
}

.item-field {
  min-width: 11em;
  max-width: 11em; 
}

.ticket-notes {
  padding: 5px 10px;
  border: solid 1px #ddd;
  background-color: #f3f3f3;
  white-space: pre-wrap;
}

.modal-navbar-settings {
  display: flex;
  padding: 10px;
  border: solid 1px #f5f5f5;
}

.btn-modal-nav {
  margin-right: 5px;
  border: solid 1px #f3f3f3;
  color: #337ab7;
}

.table-bordered th,
.table-bordered td {
  hyphens: auto;
}

@media screen and (min-width: 1200px) {
  .table-bordered th,
  .table-bordered td {
    overflow-wrap: break-word;
  }
}

/* Dark Mode */
.btn-dark-mode {
  width: 50px;
  height: 41px;
}

.nav-settings .btn.btn-dark-mode:focus,
.nav-settings .btn.btn-dark-mode:hover,
.nav-settings .btn.btn-dark-mode:active {
  outline: none;
  border: none;
}

.btn-dark-mode svg {
  width: 18px;
  height: 21px;
  background-color: transparent;
  fill: #333333;
}

.page.dark {
  background-color: #07090F;
  min-height: 100vh;
}

.dark * {
  transition: background-color .4s;
}

.dark a {
  color: #57A6FF;
}

.dark p,
.dark span,
.dark strong,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
  color: #C8D1D9;
}

.dark button,
.dark select,
.dark input {
  background-color: #090E13;
  color: #C8D1D9;
  border: 1px solid #30363C;
}

.dark input {
  border-radius: 5px;
  height: 33px;
}

.dark .json-string {
  color: #FD971F;
}

.dark .json-key {
  color: #F92672;
}

.dark .json-boolean {
  color: #AC81FE;
}

.dark .json-pretty {
  background-color: #0E1117;
}

.dark.btn-dark-mode svg {
  fill: #C8D1D9;
}

.dark .btn-settings {
  background-color: #333333;
  border: none;
  margin-right: 5px;
}

.dark.btn-dark-mode,
.dark.btn-dark-mode:hover,
.dark.btn-dark-mode:focus,
.dark.btn-dark-mode:active {
  background-color: #333333;
}

.dark .panel-default > .panel-heading {
  border: none;
  box-shadow: none;
}

.dark .panel-default > .panel-heading h4 small {
  margin-left: 10px;
}

.dark .row.panel-body {
  border-radius: 5px;
}

.dark .navbar,
.dark .panel-body {
  background-color: #161B22;
  border-color: #30363C;
  box-shadow: none;
}

.dark .panel-uc__heading.panel-heading {
  background-color: #0E1117;
}

.dark .panel-uc.panel.panel-default,
.dark .panel-body {
  border: none;
}

.dark .projects.list-group {
  background-color: transparent;
  border-color: #30363C;
  border-radius: 5px;
}

.dark .projects.list-group:hover {
  border-color: transparent;
}

.dark .btn.dropdown-toggle,
.dark .btn.dropdown-toggle {
  height: 42px;
  font-size: 14px;
  margin: 0 5px;
  border-radius: 5px;
}

.dark .projects.list-group button:hover,
.dark .projects.list-group button:focus,
.dark .projects.list-group button:active,
.dark .btn.dropdown-toggle:hover,
.dark .btn.dropdown-toggle:focus,
.dark .btn.dropdown-toggle:active,
.dark .btn.dropdown-toggle:hover,
.dark .btn.dropdown-toggle:focus,
.dark .btn.dropdown-toggle:active,
.dark .open > .btn.dropdown-toggle {
  background-color: #151a23 !important;
  color: #C8D1D9 !important;
  text-decoration: none;
  border-color: #30363C;
  transition: .3s;
}

.dark .dropdown-menu {
  top: calc(100% + 20px);
}

.dark .projects.list-group button,
.dark .column-filter,
.dark .table-bordered th {
  border-color: #30363C !important;
}

.dark .table-bordered,
.dark .table-bordered tr,
.dark .table-bordered td {
  border-color: #30363C !important;
  transition: .3s;
}

.dark .table-striped,
.dark .btn-settings span,
.dark .dispatch-fields .form-group *,
.dark .ticket-copy span,
.dark .pagination .active a,
.dark label[for="toggl-api"] {
  color: #C8D1D9;
}

.dark .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #0E1117;
}

.dark .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #151a23;
}

.dark .column-filter-dropdown div {
  font-size: 14px;
  background-color: #151a23;
  color: #C8D1D9;
  border-color: #30363C;
}

.dark .column-filter-dropdown div:hover {
  border-color: #30363C;
  cursor: pointer;
}

.dark .dropdown-menu.dropdown-menu-right {
  border-color: #30363C !important;
  background-color: #0E1117;
}

.dark .form-group.project-search,
.dark .pagination > li > a,
.dark .pagination > li > span,
.dark .dispatch-fields .form-group div {
  background-color: #151a23;
  border-color: #30363C;
  z-index: 2;
}

.dark .ToggleProjects__project {
  border-bottom: 1px solid #30363C !important;
  background-color: #0E1117;
}

.dark .ToggleProjects__project:hover {
  background-color: #151a23;
}

.dark .ToggleProjects__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 130px;
  padding-left: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.dark .ToggleProjects__label small,
.dark .ToggleProjects__updated {
  margin-left: 10px;
}

.dark .ToggleProjects__label small a:hover,
.dark .ToggleProjects__label small a:focus {
  color: #57A6FF;
}

.dark .ToggleProjects__checkbox[type="checkbox"] {
  margin: 0;
  margin-right: 15px;
}

.dark .ToggleProjects__label .btn-link {
  position: absolute;
  right: 20px;
}

.dark .ToggleProjects__label .btn-link:hover,
.dark .ToggleProjects__label .btn-link:focus {
  color: #57A6FF;
  text-decoration: none;
  border: 1px solid #30363C;
}

.dark button.ticket-copy {
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.dark .ticket-link a:hover,
.dark .ticket-link a:focus {
  color: #57A6FF;
}

.dark .ticket--overbudget .col--budget {
  background-color: #551e32;
}

.dark .ticket--nearbudget .col--budget {
  color: #0E1117;
  background-color: #f6c44d;
}

.dark .dropdown-menu hr {
  border-color: transparent;
  margin-bottom: 30px;
}

.dark .pagination > li > a:hover ,
.dark .pagination > li > span:hover {
  background-color: #0E1117;
  border-color: #30363C;
}

.dark .visibility-label,
.dark .dispatch-fields .form-group label {
  display: flex;
  align-items: center;
}

.dark .btn-queue:hover,
.dark .btn-queue:focus {
  background-color: #161B22;
}

.dark .queue-list * {
  color: #C8D1D9;
}

.dark .queue-list li div {
  margin-bottom: 10px;
}

.dark .queue-list .btn-link {
  margin-left: 5px;
  margin-top: -3px;
  border-radius: 4px;
  height: 33px;
}

.dark .queue-list .btn-link:hover,
.dark .queue-list .btn-link:focus {
  border: 1px solid #30363C;
  text-decoration: none;
}

.dark .nav > li > a {
  margin-right: 5px;
}

.dark .nav > li > a:hover,
.dark .nav > li > a:focus {
  background-color: #30363C;
  border-radius: 5px;
  color: #57A6FF;
}

.dark .glyphicon-info-sign:hover,
.dark .glyphicon-info-sign:focus {
  background-color: #151a23;
  color: #C8D1D9;
  border-color: #30363C;
}

.dark-modal .ReactModal__Content {
  background-color: #161B22 !important;
  border-color: #30363C !important;
}

.dark-modal .ReactModal__Content * {
  color: #C8D1D9 !important;
}

.dark-modal .modal-navbar-settings {
  border: none;
}

.dark-modal .btn-modal-nav {
  background-color: transparent;
  color: #57A6FF !important;
}

.dark-modal .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #0E1117;
}

.dark-modal .ticket-notes {
  background-color: transparent;
  border: none;
}
